/* montserrat-regular - latin */

@font-face
{
    font-family: "SourceHanSerifCN-SemiBold";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/SourceHanSerifCN-SemiBold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../SourceHanSerifCN-SemiBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */

@font-face
{
    font-family: "SourceHanSerifCN-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/SourceHanSerifCN-SemiBold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/SourceHanSerifCN-SemiBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */

@font-face
{
    font-family: "SourceHanSerifCN-SemiBold";
    font-style: italic;
    font-weight: 400;
    src: local(""),
        url("../fonts/SourceHanSerifCN-SemiBold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/SourceHanSerifCN-SemiBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600italic - latin */

@font-face
{
    font-family: SourceHanSerifCN-SemiBold";
    font-style: italic;
    font-weight: 600;
    src: local(""),
        url("../fonts/SourceHanSerifCN-SemiBold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/SourceHanSerifCN-SemiBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}